<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings configSource="Configuration\bindings.config" />
    <client configSource="Configuration\client.config" />
    <behaviors configSource="Configuration\behaviors.config" />
  </system.serviceModel>

</configuration>