<?xml version="1.0" encoding="utf-8" ?>
<bindings>
   
  <!--Basic Http -->
  
  <basicHttpBinding>
    <binding name="BasicHttpBinding_SecurityStoreService" closeTimeout="00:01:00"
             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
             allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
             maxBufferSize="1014400" maxBufferPoolSize="524288" maxReceivedMessageSize="1014400"
             messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
             useDefaultWebProxy="true">
            
      <!--
      <security mode="TransportWithMessageCredential">
        <transport clientCredentialType="Windows" />
        <message clientCredentialType="UserName" />
      </security>
      -->

      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />

    </binding>

  </basicHttpBinding>
  
  <!-- Ws Http -->

  <wsHttpBinding>
    
    <binding name="WsHttpBinding_SecurityStoreService" maxReceivedMessageSize="2097152" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">     
      <security mode="Message">
        <message clientCredentialType="Windows" />
      </security>
      <readerQuotas maxStringContentLength="2097152"/>
    </binding>

    <!--
    <binding name="WsHttpBindingSecured_SecurityStoreService" maxReceivedMessageSize="2097152" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00">
      <security mode="Message">
        <message clientCredentialType="UserName" />
      </security>
      <readerQuotas maxStringContentLength="2097152"/>
    </binding>    
    -->
    
  </wsHttpBinding>

  <!-- Net Tcp -->
  <!--
  <netTcpBinding>
    
    <binding name="NetTcpBinding_SecurityStoreService" maxBufferSize="2097152" maxReceivedMessageSize="2097152" transactionFlow="true" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxConnections="100">
      <security mode="Message">
        <message clientCredentialType="Windows" />
      </security>
      <readerQuotas maxStringContentLength="2097152"/>
    </binding>
    
  </netTcpBinding>  
  -->
  
</bindings>