<?xml version="1.0"?>
<services>

  <!-- Security Store Service Endpoints -->

  <service name="Archimind.Platform.ServiceModel.Security.Services.SecurityStoreService"
           behaviorConfiguration="SecurityStoreService_Behaviors">
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:2198/securitystoreservice"/>
        <add baseAddress="net.tcp://localhost:8081/securitystoreservice"/>
      </baseAddresses>
    </host>
    
    <endpoint
            name="basicHttp"
            binding="basicHttpBinding"
            address="basicHttp"
            bindingConfiguration="BasicHttpBinding_SecurityStoreService"
            bindingNamespace="http://Archimind.Platform.Schemas/2014/v1/"
            contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />
    
    <endpoint 
            name="wsHttp"
            binding="wsHttpBinding"
            address="wsHttp"
            bindingConfiguration="WsHttpBinding_SecurityStoreService"       
            bindingNamespace="http://Archimind.Platform.Schemas/2014/v1/"
            contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />

    <!--
    <endpoint
            name="wsHttpSecured"
            binding="wsHttpBinding"
            address="wsHttpSecured"
            bindingConfiguration="WsHttpBindingSecured_SecurityStoreService"
            bindingNamespace="http://Archimind.Platform.Schemas/2014/v1/"
            contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />
    -->
    <!--
    <endpoint
            name="netTcp"
            binding="netTcpBinding"
            address="netTcp"
            bindingConfiguration="NetTcpBinding_SecurityStoreService"
            bindingNamespace="http://Archimind.Platform.Schemas/2014/v1/"
            contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />    
    -->
    <!-- metadata exchange -->

    <endpoint address="mex" binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_SecurityStoreService" contract="IMetadataExchange"/>

  </service>

</services>
