<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration Sections -->
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <!-- App settings -->  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <dataConfiguration defaultDatabase="SecurityStore" />
  <connectionStrings>
    <add name="SecurityStore" connectionString="Data Source=FERNANDES01\SQLDEV01;Initial Catalog=SecurityStore;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="SecurityContext" connectionString="Data Source=FERNANDES01\SQLDEV01;Initial Catalog=SecurityStore;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <exceptionHandling>
    <exceptionPolicies>
      <add name="DataLayer">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="DataLayerHandler" type="Archimind.Platform.DataModel.Exceptions.DataLayerExceptionHandler, Archimind.Platform.DataModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=33086db60a481256" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ServiceLayer">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="ServiceLayerHandler" type="Archimind.Platform.ServiceModel.Exceptions.ServiceLayerExceptionHandler, Archimind.Platform.ServiceModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=33086db60a481256" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services configSource="Configuration\services.config" />
    <bindings configSource="Configuration\bindings.config" />
    <behaviors configSource="Configuration\behaviors.config" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
