<?xml version="1.0" encoding="utf-8" ?>
<client>

  <endpoint
    name="basicHttp"
    binding="basicHttpBinding"
    address="http://localhost:2198/SecurityStoreService.svc/basicHttp"
    bindingConfiguration="BasicHttpBinding_SecurityStoreService"
    behaviorConfiguration="ImpersonateEndpointBehavior"
    contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />

  <endpoint
    name="wsHttp"
    binding="wsHttpBinding"
    address="http://localhost:2198/SecurityStoreService.svc/wsHttp"
    bindingConfiguration="WsHttpBinding_SecurityStoreService"
    behaviorConfiguration="ImpersonateEndpointBehavior"
    contract="Archimind.Platform.ServiceModel.Security.Contracts.ISecurityStoreService" />


</client>